body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to right, #2c2c2c, #1a1a1a);
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 90vh;
    width: 191.5vh;
}

nav {
    width: 100%;
    background-color: #333333; 
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

nav h1 {
    font-size: 24px;
    color: #f0f0f0;
    margin: 0;
}

nav .btn-formulario {
    background-color: #555555;
    color: #f0f0f0;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

nav .btn-formulario:hover {
    background-color: #777777;
}

.content {
    padding: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: 20px; 
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    color: #f0f0f0;
    text-align: justify;
}

.main-content{
    @media (max-width: 768px) {
        .main-content h1 {
            font-size: 32px;
        }
        .main-content p {
            font-size: 16px;
            text-align: center;
        }
    }
    
}